<div class="center jumbotron">
  <h1>Welcome to the New Twitter</h1>

  <h2>This is the home page</h2>

  <%= link_to 'Sign up now!', '#', class: 'btn btn-lg btn-primary' %>
</div>

<%= link_to image_tag('ruby.jpeg', alt: "Rails logo"),
            'http://rubyonrails.org/' %>
